@media screen and (max-width:600px){
    
    #informacoes{
        display: none;
    }
    #formulario{
    background-color: #673ab7;
    height: 600px;
    width: 500px;
    
    }

    img{
        border: 1px solid black;
        padding-top: 15px;
    }
}

@media screen and (min-width:992px){
    img{
        display: none;
    }
}

